<h3>Área Restrita do usuário {{user.username}}</h3>

<div class="row">
  <form [formGroup]="pForm" class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Seu Perfil</span>
        <div class="row">
          <div class="col l10 offset-l1">
            <input type="hidden" formControlName="id">
            <div class="input-field">
              <input id="fullName" type="text" minlength="3" class="validate"
                     formControlName="fullName">
              <label for="fullName">Nome Completo</label>
              <span class="helper-text" data-error="O nome precisa conter pelo menos 3 caracteres"></span>
            </div>
            <div class="input-field">
              <input id="email" type="email" class="validate" formControlName="email">
              <label for="email">E-mail</label>
              <span class="helper-text" data-error="E-mail inválido"></span>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="phone" type="text" class="validate" formControlName="phone"
                       mask="(00) 0 0000-0000">
                <label for="phone">Telefone</label>
              </div>
              <div class="input-field col s6">
                <input id="birthday" type="text" class="datepicker">
                <label for="birthday">Data de Nascimento</label>
              </div>
              <a (click)="updateProfile()" [ngClass]="{'disabled': pForm.invalid}" class="btn right">Atualizar Dados</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <form [formGroup]="compForm" class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Enviar perfil para empresa</span>
        <div class="row">
          <div class="col l10 offset-l1">
            <div class="input-field">
              <select formControlName="company">
                <option value="" selected>Selecione uma empresa</option>
                <option *ngFor="let comp of companies" [ngValue]="comp">{{comp.name}} - {{comp.description}}</option>
              </select>
            </div>
            <a (click)="sendProfile()" [ngClass]="{'disabled': compForm.invalid}" class="btn right">Enviar perfil</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Meus envios</span>
        <div class="row">
          <div class="col l10 offset-l1">
            <ul class="collection">
              <li *ngFor="let company of profile.companies" class="collection-item">{{company.name}}
                - {{company.description}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



