<div *ngIf="show()" class="navbar-fixed">
  <nav class="blue darken-2">
    <div class="nav-wrapper">
      <a [routerLink]="['/home']" class="brand-logo right">WOKE&nbsp;&nbsp;</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a (click)="logout()">Logout</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
      </ul>
    </div>
  </nav>
</div>
