<div class="row center">
  <div class="col s6 offset-l4">
    <div class="card z-depth-5 hoverable">
      <div class="card-content">
        <span class="card-title">Woke Login</span>
        <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
          <div class="row">
            <div class="input-field col s12">
              <label for="username">Login</label>
              <input id="username" type="text" formControlName="username">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="password">Password</label>
              <input id="password" type="password" formControlName="password">
            </div>
          </div>
        </form>
      </div>
      <div class="card-action">
        <a class="btn-large btn-block" [ngClass]="{'disabled': loginForm.invalid}" (click)="doLogin()">Login</a>
      </div>
    </div>
  </div>
</div>
